* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 40%;
    font-family: fantasy;
    background-color: seagreen;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}

main {

}

#dealerStack, #playerStack {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 5em;
    height: 7em;
    border-radius: 5px;
    border: 1px solid black;
    background-image: radial-gradient(#FFFFFF 10%, #0e266a 10%);
    background-position: 0 0;
    background-size: 30px 30px;
    background-repeat: repeat;
    
}

#dealerFaceCard, #playerFaceCard {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 7em;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ebedf1;
    background-image: none;
}

button {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(39, 38, 38);
    color: whitesmoke;
    border: black solid;
    border-radius: 4px;
    font-size: 18px;
    font-family: fantasy;
}

  